
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#login{
    background-image: url("../images/login-bg.jpg");
}

#lobby{
    background-image: url("../images/lobby-bg.jpg");
}

#gameField{
    background-image: url("../images/game-bg.jpg");
}

.section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;
}

.infoStats{
    height: 150px;
    width: 100px;
    font-size: x-large;
    float: left;
    border: 1px solid black;
}


div iframe{
    position: absolute;
    left: 33%;
    top: 71%;
}

.carte{
    height: 150px;
    width: 100px;
    float: left;
    border: 1px solid black;
}
