
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#login{
    background-image: url("../images/login-bg.jpg");
}

#lobby{
    background-image: url("../images/lobby-bg.jpg");
}

#gameField{
    background-image: url("../images/game-bg.jpg");
}

.actionSection{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1vh;
}

.action{
    border: black solid 1px;
    background-color: white;
    font: large;
}

.section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1vh;
    min-height: 110px;
}

.infoStats{
    background-color: white;
    height: 130px;
    width: 120px;
    font-size: x-large;
    float: left;
    border: 1px solid black;
}

#gameChat{
    display: none;
}

.messageFin{
    width: 40vh;
    font-size: 80px;
    text-align: center;
    margin-top: 40vh;
    margin-left: 80vh;
}

#victoire{
    background-color: blue;
    color: yellow;
    border: 1px solid yellow;
    text-decoration: underline yellow;
}

#defaite{
    border: 1px solid red;
    background-color: black;
    color: red;
    text-decoration: underline red;
}

div iframe{
    position: absolute;
    left: 33%;
    top: 71%;
}

.myCarte{
    background-image: url("../images/hancock.jpg");
    height: 160px;
    width: 100px;
    float: left;
    border: 1px solid green;
}

.advCarte{
    background-image: url("../images//maxon.jpg");
    height: 160px;
    width: 100px;
    float: left;
    border: 1px solid red;
}

#welcomeMessage{
    color: white;
    text-decoration: underline;
    font-size: 60px;
    margin-left: 40vh;
    margin-top: 15vh;
}

#boutonsDeLobby{
    display: flex;
    margin-top: 15vh;
    margin-left: 30vh;
}

.lobbyButton{
    width: 250px;
    height: 100px;
    background-color: rgba(180, 180, 180, 0.2);
    margin-left: 15vh;
    font-size: xx-large;
    color: white;
    border: white double 3px;
}

#errorBox{
    font-size: large;
    text-decoration: underline;
    color: white;
}


.field{
    width: 180px;
    height: 40px;
    background-color: rgba(180, 180, 180, 0.2);
    font-size: x-large;
    color: white;
    border: white double 1px;
    margin-top: 5vh;
}


::placeholder{
    color: white;
}

body>form{
    margin-left: 60vh;
    margin-top: 20vh;
}
