
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#login{
    background-image: url("../images/login-bg.jpg");
}

#lobby{
    background-image: url("../images/lobby-bg.jpg");
}

#gameField{
    background-image: url("../images/game-bg.jpg");
}


div iframe{
    position: absolute;
    left: 33%;
    top: 71%;
}

.carte{
    float: left;
    border: 1px solid black;
}
